@page "/departments"
@rendermode InteractiveServer

@using ApiContracts
@using WoM_BlazorApp.Services.Interfaces
@inject IDepartmentService DepartmentService

<h3>Departments</h3>

@if (departments == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var d in departments)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Type</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    ICollection<DepartmentDto>? departments;

    protected override async Task OnInitializedAsync()
    {
        departments = await DepartmentService.GetAllAsync();
    }
}
